@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://1000marcas.net/wp-content/uploads/2021/10/Chubb-logo.png" alt="yoast seo" height="288" width="388" />
    <h6>
        Personas y familias
    </h6>
    <p>
         Desde tu hogar, tus vehículos y las cosas que más te importan hasta la gente que amas y tu bienestar financiero, sabemos que todo eso y mucho más es lo que necesitas proteger y cuidar. Para obtener la tranquilidad que quieres, te brindamos un tipo especial de protección y un singular nivel de servicio, el cual que hemos cultivado a lo largo de décadas de experiencia, asegurando tanto a individuos y familias como a sus más preciadas posesiones de valor. Más que mera cobertura. Habilidad técnica superior.
    </p>
</div>
